################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/1-SRP/2 Exercices/MySolution/MySolution/.vs
/1-SRP/2 Exercices/MySolution/MySolution/MySolution/bin/Debug
/1-SRP/2 Exercices/MySolution/MySolution/MySolution/obj
/1-SRP/2 Exercices/MySolution/MySolution/MySolutionTest/bin/Debug
/1-SRP/2 Exercices/MySolution/MySolution/MySolutionTest/obj
/1-SRP/2 Exercices/Problem/Problem/.vs/Problem/v16
/1-SRP/2 Exercices/Solution/Solution/Solution/obj
/1-SRP/2 Exercices/.vs/2 Exercices/v16/TestStore/0
/1-SRP/2 Exercices/.vs
/2-OCP/Exercises/OCP-Problem2/.vs/Exercise/v16
/2-OCP/Exercises/OCP-Problem2/Client/bin/Debug
/2-OCP/Exercises/OCP-Problem2/Client/obj
/2-OCP/Exercises/OCP-Problem2/clientTest/bin/Debug/netcoreapp3.1
/2-OCP/Exercises/OCP-Problem2/clientTest/obj
/2-OCP/Exercises/OCP-Problem2/Solución/.vscode
/2-OCP/Exercises/OCP-Problem2/Solución/Client/bin/Debug/net5.0
/2-OCP/Exercises/OCP-Problem2/Solución/Client/obj
/2-OCP/Exercises/Problem/.vs
/2-OCP/Exercises/OCP-Problem2/.DS_Store
/2-OCP/Exercises/OCP-Problem2/.bash_profile
/2-OCP/Exercises/OCP-Problem2/MySolution/.vs/Exercise/v16
/2-OCP/Exercises/OCP-Problem2/MySolution/Client/bin/Debug
/2-OCP/Exercises/OCP-Problem2/MySolution/Client/obj
/2-OCP/Exercises/OCP-Problem2/MySolution/clientTest/bin/Debug/netcoreapp3.1
/2-OCP/Exercises/OCP-Problem2/MySolution/clientTest/obj
/2-OCP/Exercises/OCP-Problem2/MySolution/.DS_Store
/2-OCP/Exercises/OCP-Problem2/MySolution/.bash_profile
