################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/1-SRP/2 Exercices/MySolution/MySolution/.vs
/1-SRP/2 Exercices/MySolution/MySolution/MySolution/bin/Debug
/1-SRP/2 Exercices/MySolution/MySolution/MySolution/obj
/1-SRP/2 Exercices/MySolution/MySolution/MySolutionTest/bin/Debug
/1-SRP/2 Exercices/MySolution/MySolution/MySolutionTest/obj
/1-SRP/2 Exercices/Problem/Problem/.vs/Problem/v16
/1-SRP/2 Exercices/Solution/Solution/Solution/obj
/1-SRP/2 Exercices/.vs/2 Exercices/v16/TestStore/0
/1-SRP/2 Exercices/.vs
/2-OCP/Exercises/OCP-Problem2/.vs/Exercise/v16
/2-OCP/Exercises/OCP-Problem2/Client/bin/Debug
/2-OCP/Exercises/OCP-Problem2/Client/obj
/2-OCP/Exercises/OCP-Problem2/clientTest/bin/Debug/netcoreapp3.1
/2-OCP/Exercises/OCP-Problem2/clientTest/obj
/2-OCP/Exercises/OCP-Problem2/Solución/.vscode
/2-OCP/Exercises/OCP-Problem2/Solución/Client/bin/Debug/net5.0
/2-OCP/Exercises/OCP-Problem2/Solución/Client/obj
/2-OCP/Exercises/Problem/.vs
/2-OCP/Exercises/OCP-Problem2/.DS_Store
/2-OCP/Exercises/OCP-Problem2/.bash_profile
/2-OCP/Exercises/OCP-Problem2/MySolution/.vs/Exercise/v16
/2-OCP/Exercises/OCP-Problem2/MySolution/Client/bin/Debug
/2-OCP/Exercises/OCP-Problem2/MySolution/Client/obj
/2-OCP/Exercises/OCP-Problem2/MySolution/clientTest/bin/Debug/netcoreapp3.1
/2-OCP/Exercises/OCP-Problem2/MySolution/clientTest/obj
/2-OCP/Exercises/OCP-Problem2/MySolution/.DS_Store
/2-OCP/Exercises/OCP-Problem2/MySolution/.bash_profile
/2-OCP/Exercises/MySolution/.vs
/2-OCP/Exercises/MySolution/MySolution/bin/Debug
/2-OCP/Exercises/MySolution/MySolution/obj
/2-OCP/Exercises/MySolution/OCPLibrary/bin/Debug/netstandard2.0
/2-OCP/Exercises/MySolution/OCPLibrary/obj
/2-OCP/Exercises/OCP-Problem2/MySolution/.vs/Exercise/DesignTimeBuild
/3-LSP/Exercises/MySolution/.vs
/3-LSP/Exercises/MySolution/LSPLibrary/bin/Debug/netstandard2.0
/3-LSP/Exercises/MySolution/LSPLibrary/obj
/3-LSP/Exercises/MySolution/MySolution/bin/Debug
/3-LSP/Exercises/MySolution/MySolution/obj
/1-SRP/1- Content
/1-SRP/2 Exercices/Problem/Problem/Problem/obj
/2-OCP/Content/After/After/obj
/3-LSP/Content/After
/3-LSP/Exercises/Problem/LSPLibrary/obj/Debug/netstandard2.0
/3-LSP/Exercises/Problem/LSPLibrary/obj/Release/netstandard2.0
/3-LSP/Exercises/Problem/Problem/obj/Debug
/3-LSP/Exercises/Problem/Problem/obj/Release
/3-LSP/Exercises/Solution/LSPLibrary/obj
/3-LSP/Exercises/Solution/Solution/obj
/5-DIP/Content/After/DIP/DIP/obj
/5-DIP/Content/After/DIP/DIPLibrary/obj
/5-DIP/Content/Before/DIP/DIP/obj
/5-DIP/Content/Before/DIP/DIPLibrary/obj
/5-DIP/Exercises/After/After/obj
/5-DIP/Exercises/Before/Before/obj/Debug
/5-DIP/Exercises/Before/Before/obj/Release
/Clase 21 - Builder/Builder
/Clase 23 - Fluent Builder
/Clase 24 -  Fluent Builder (Unit Testing)/Builder
/Clase 36 - Abstract Factory/Abstract/Abstract/obj
/Clase 47 - Singleton/Singleton/Singleton/obj
/Clase 49 - Singleton/Singleton
/Clase 72 - Chain Responsability/obj
/4-ISP/Exercises/Exercice/ISPLibrary/.vs/ISPLibrary
/4-ISP/Exercises/Exercice/ISPLibrary/obj
/4-ISP/Exercises/MySolution/ISPLibrary/obj
/4-ISP/Exercises/MySolution/ISPLibrary/.vs/ISPLibrary/v16
/4-ISP/Exercises/MySolution/ISPLibrary/bin/Debug/netstandard2.0
/4-ISP/Exercises/MySolution/MySolution/bin/Debug/netcoreapp3.1
/4-ISP/Exercises/MySolution/MySolution/obj
